div{
    box-sizing: border-box;
    width: 300px;
    height: 475px;
}

.container{
    display: flex;
    border-radius: 10% 10% 21% 22% / 10% 10% 14% 13% ;
    justify-content: center;
    background-color: rgb(25, 74, 221);
}

#containersombra{
    position: absolute;
    height: 340px;
    width: 190px;
    top: 100px;
    border-radius: 10% 10% 21% 22% / 10% 10% 14% 13% ;
    background-color: rgb(89, 127, 240);
}

.pantalla1{
    position: absolute ;
    display: flex;
    background-color: rgb(37, 41, 54);
    width: 230px;
    height: 225px;
    top: 30px;
    border-radius: 10% 10% 21% 22% / 10% 10% 14% 13%;
    justify-content: center;
}

#pantalla2{
    position: relative;
    background-color: rgb(89, 97, 126);
    width: 140px;
    height: 140px;
    top: 30px;
    left: 4px;
}

#rojo{
    position: relative;
    height: 10px;
    width: 10px;
    left: -165px;
    top: 75px;
    background-color: red;
    border-radius: 100%;
}

#buttonA{
    position: absolute;
    height: 35px;
    width: 35px;
    right: 37px;
    border-radius: 100%;
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}

#buttonB{
    position: absolute;
    height: 35px;
    width: 35px;
    right: 75px;
    top: 35px;
    border-radius: 100%;
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}

#flecha1{
    position: absolute;
    width: 25px;
    height: 70px;
    left: 55px;
    background-color: rgb(73, 73, 73);
    border-radius: 10%;
}

#flecha2{
    position: absolute;
    width: 70px;
    height: 25px;
    left: 32px;
    top: 22px;
    background-color: rgb(73, 73, 73);
    border-radius: 10%;
}

#atrasar{
  position: absolute;
    width: 25px;
    height: 25px;
    left: 32px;
    top: 22px;
    border-radius: 10%;
    cursor: pointer;
}

#adelantar{
  position: absolute;
    width: 25px;
    height: 25px;
    left: 77px;
    top: 22px;
    border-radius: 10%;
    cursor: pointer;
}

.areabotones{
    display: flex;
    width: 300px;
    height: 80px;
    position: absolute;
    top: 290px;
    justify-content: flex-end;
}

.container .select{
    position: relative;
    display: flex;
    width: 100px;
    height: 20px;
    top: 47vh;
    right: 9vw;
    justify-content: center;
}

#start1{
    height: 10px;
    width: 30px;
    border-radius: 20%;
    background-color: rgb(73, 73, 73);
}

#start2{
    position: relative ;
    width: 30px;
    height: 10px;
    left: 10px;
    border-radius: 20%;
    background-color: rgb(73, 73, 73);
}

/* reproductor */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body audio {
    display: block;
  }
  
  .player {
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: 25px;
    width: 140px;
    height: 140px;
    bottom: 50vh;
    left: 4.2vw;
  }
  .player, .player .cover img {
    border-radius: 4px;
  }
  .player .cover {
    width: 100%;
    height: 100%;
  }
  .player .cover .progress {
    position: absolute;
    width: 0%;
    bottom: 0;
    height: 25%;
    background-color: #343e47;
    opacity: 0.6;
  }
  .player .cover img {
    width: 100%;
    height: 100%;
  }

  .controls {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
  }

  .controls .playBtn {
    color: white;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    left: 150px;
    top: 128px;
    background-color: rgb(73, 73, 73);
    cursor: pointer;
  }
